# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Django
*.sqlite3
db.sqlite3
/staticfiles/
/staticfiles_root/
.DS_Store

# Vercel
.vercel
.vercel_build_output/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Environment
.env
.env.local
*.pem

# OS
Thumbs.db
